// $first-color: #212121;
$first-color: #303030;
$second-color: #8E8E8E;
$third-color: #f6f6f677;
$fiveth-color: #f6f6f6;
$fourth-color: #0090C4;

.navbar-wrapper {
  position: relative;
  display: flex;
  align-items: start;
}

.navbar {
  // position: fixed;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  height: auto;


  &__left-contain {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__left-logo {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__left-menu {
    color: $first-color;
  }

  &__left-list {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  &__left-items-icon {
    transition: all 0.2s ease-in-out;
   }

  &__left-items:hover .navbar__left-items-icon {
    transform: rotate(90deg);
  }

  &__left-items:hover .navbar__left-drop-div {
    position: absolute;
    top: 50px;
    transition: all 0.2s ease;
    visibility: visible;
    transform: scale(1);
    opacity: 1;
  }

  &__left-items {
    position: relative;
    display: flex;
    align-items: center;
    gap: 5px;
    height: 50px;
  }

  &__left-drop-div {
    position: absolute;
    top: 30px;
    left: 0px;

    visibility: hidden;
    padding: 30px 10px 40px 20px;
    background-color: $third-color;
    border-radius: 5px;
    opacity: 0;
    &-links {
      color: $first-color;
      font-weight: 400;
      font-size: 20px;
    }
  }

  &__right-center-contain {
    display: flex;
    align-items: center;
  }

  &__left-drop-div-item {
    display: flex;
    flex-direction: column;
  }

  &__left-drop-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__left-drop-div-title:hover {
    color: #0090C4 !important;
    transform: translateY(-3px);
  }

  &__left-drop-div-title {
    font-size: 14px; 
    font-weight: 600;
    color: $first-color;
    transition: all 0.2s ease;
  }

  &__left-drop-div-subtext {
    font-size: 10px; 
    color: $first-color;
    opacity: 0.7;
    width: 280px;
  }

  &__left-drop-div-links {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__left-drop-div-icon {
    color: $first-color;
  }

  &__select {
    position: relative;
    border: 1px solid $first-color;
    border-radius: 3px;
    color: $first-color;
  }


  &__opt {
    border-radius: 3px;
  }

  &__right-contain {
    display: flex;
    align-items: center;
    gap: calc(1rem + 4px);
  }

  &__right-contain-div {
    display: flex;
    align-items: center;
    gap: calc(1rem - 11px);

  }

  &__btn {
    padding: 7px 18px;
    font-size: 10px;
    color: $first-color;
    font-weight: 500;
    border-radius: 5px;
    border: none;
  }

  &__btn:hover {
    opacity: 0.7;
  }

  &__btn-left {
    background-color: inherit;
    // border: 1px solid $first-color;
  }

  &__btn-right {
    background-color: $fourth-color;
    color: $fiveth-color;
  }



  &__center-contain {
    position: relative;
    display: none;

  }

  &__center-containitem {
    position: absolute;
    top: -20px;
    width: 100%;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border: none;
    background-color: inherit;
  }

  &__center-containitem:hover {
    .navbar__center-div {
      position: relative;
      top: 0px;
      transform: scale(1);
      visibility: visible;
      opacity: 1;
      transition: all 0.2s ease-in-out;
    }
  }


  &__center-div {
    position: absolute;
    top: -10px;
    left: 20px;
    height: 40vw;
    padding: 10px 0px;
    visibility: hidden;
    opacity: 0;
    display: flex;
    justify-content: center;
    background-color: $third-color;
    overflow-y: scroll;
    overflow-x: hidden;

  }

  &__center-drop-item{
    background-color: red;
    width: 0px;
  }

  .navbar__center-menu {
    position: relative;
    border-bottom: 1px solid $first-color;
    padding: 10px 20px 5px 0px; 
    font-size: 10px;
   }

  &__center-wrapper {
    width: 150px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    padding: 10px 10px 10px 10px;
  }

  &__center-items {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;

  }

  &__center-items-top {
    display: flex;
    flex-direction: column;
    gap: 10px;

  }


  &__center-items-icon {
    position: absolute;
    top: 14px;
    right: -5px;
    transition: all 0.2s ease-in-out;
  }

  &__center-drop-div-title {
    font-size: 10px;
  }
  &__center-drop-div-subtext {
    font-size: 7px;
    width: 100px;
  }

  &__center-drop-list {
    position: absolute;
    top: 35px;
    left: 5px;
    width: 120px;
    visibility: hidden;
    transition: all 0.1s ease-in-out;
    opacity: 0;
    padding: 10px;
    border-radius: 5px;
    background-color: $first-color;
  }

  &__center-items-icon-div {
    border: none;
    background-color: inherit;
    text-align: start;
  }

&__center-items-icon-div:focus .navbar__center-drop-list {
  position: relative;  
  top: 5px;
    opacity: 1;
    visibility: visible;

  .navbar__center-drop-div-title, .navbar__center-drop-div-subtext{
    color: $fiveth-color
  }
  // .navbar__center-drop-div-subtext {
  //   color: $third-color
  // }
  }

  .buttons {
    position: absolute;
  }




  
 &__center-icon {
  transition: all 0.1s ease;
 }



 &__center-items-icon-div:focus .navbar__center-items-icon {
    transform: rotate(90deg);

 }

 &__center-btn {
  background-color: $first-color;
  color: $fiveth-color;
  width: 130px;
 }


}




@media (max-width: 1000px) {

  .navbar__left-list {
    display: none;
  }
  .navbar__right-media {
    display: none;
  }

  .navbar__center-contain {
    display: block;
  }
}
