* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open sans';
}

.wrapper {
  width: 100%;
}

.contain {
  width: 100%;
  height: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.navbar-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.navbar {
  position: fixed;
  top: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 20px;
  height: auto;
}

.navbar__left-contain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.navbar__left-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.navbar__left-menu {
  color: #303030;
}

.navbar__left-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.navbar__left-items-icon {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navbar__left-items:hover .navbar__left-items-icon {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.navbar__left-items:hover .navbar__left-drop-div {
  position: absolute;
  top: 50px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  visibility: visible;
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

.navbar__left-items {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  height: 50px;
}

.navbar__left-drop-div {
  position: absolute;
  top: 30px;
  left: 0px;
  visibility: hidden;
  padding: 30px 10px 40px 20px;
  background-color: #f6f6f677;
  border-radius: 5px;
  opacity: 0;
}

.navbar__left-drop-div-links {
  color: #303030;
  font-weight: 400;
  font-size: 20px;
}

.navbar__left-drop-div-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navbar__left-drop-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 23px;
}

.navbar__left-drop-div-title:hover {
  color: #0090C4 !important;
}

.navbar__left-drop-div-title {
  font-size: 14px;
  font-weight: 600;
  color: #303030;
}

.navbar__left-drop-div-subtext {
  font-size: 10px;
  color: #303030;
  opacity: 0.7;
  width: 280px;
}

.navbar__left-drop-div-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.navbar__left-drop-div-icon {
  color: #303030;
}

.navbar__select {
  position: relative;
  border: 1px solid #303030;
  border-radius: 3px;
  color: #303030;
}

.navbar__opt {
  border-radius: 3px;
}

.navbar__right-contain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: calc(1rem + 4px);
}

.navbar__right-contain-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: calc(1rem - 11px);
}

.navbar__btn {
  padding: 4px 15px;
  font-size: 14px;
  color: #303030;
  font-weight: 500;
  border-radius: 5px;
  border: none;
}

.navbar__btn:hover {
  opacity: 0.7;
}

.navbar__btn-left {
  background-color: inherit;
}

.navbar__btn-right {
  background-color: #0090C4;
  color: #f6f6f6;
}

@media (max-width: 1000px) {
  .navbar__left-list {
    display: none;
  }
  .navbar__left-logo {
    position: absolute;
  }
  .navbar__right-media {
    display: none;
  }
}
/*# sourceMappingURL=style-home.css.map */